$BackendHost = "127.0.0.1"
$BackendPort = "8000"
$BackendReload = $true
$RedisUrl = "redis://127.0.0.1:6379/0"

$env:BACKEND_WORKER_ANALYSIS_QUEUES = "realtime,standard,heavy,batch"
$env:BACKEND_WORKER_ANALYSIS_CONCURRENCY = "1"
$env:BACKEND_WORKER_ANALYSIS_NAME = "analysis-worker"

$env:BACKEND_WORKER_DOWNLOAD_QUEUES = "download-realtime,download-standard"
$env:BACKEND_WORKER_DOWNLOAD_CONCURRENCY = "1"
$env:BACKEND_WORKER_DOWNLOAD_NAME = "download-worker"
$env:BACKEND_WORKER_INSTALL_DEPS = "false"
